body {
  /* font-family: alcester, sans-serif; */
  /* font-family: fantasy; */
  font-family: "メイリオ", Meiryo;
  /* font-family: "Lucida Calligraphy", cursive; */
  /* background-image: url("SocieTeaLogo.png");
  background-color: #cccccc; */
  height: 100%;
  /* color: white; */
}

li {
  list-style: none;
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.main {
  padding: 30px 30px;
  /* background-size: cover;
  max-width: 25%;
  height: auto; */

  /* The image used */
  background-image: url("cozy_cafe_pic.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.copy-container {
  /* background-color: #26d0c9; */
  background: linear-gradient(125deg, #26d0c9 0%, #26d0a0 51%, #26d083 85%);
  text-align: center;
  border-radius: 15px;
}

.copy-container h1 {
  font-size: 100px;
  color: green;
  margin-bottom: 30px;
}

.copy-container h2 {
  font-size: 25px;
  color: white;
}

.copy-container span {
  /* color: #ff4a4a;*/
  color: lightgreen;
}

.about {
  /* height: 400px; */
  margin-top: 125px;
  /* background-color: #26d0c9; */
  background: linear-gradient(125deg, #26d0c9 0%, #26d0a0 51%, #26d083 85%);
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0.1px;
  padding-bottom: 10px;
}

.about p{
  font-size: 20px;
}

.section-title span1 {
  color: green;
}

.section-title span2 {
  color: lightgreen;
}

.section-title span3 {
  color: orange;
}

.details {
  margin-top: 75px;
  /* background-color: #26d0c9; */
  background: linear-gradient(125deg, #26d0c9 0%, #26d0a0 51%, #26d083 85%);
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0.1px;
  padding-bottom: 10px;
}

.details h4 {
  font-size: 22px;
}

.details p {
  font-size: 20px;
}

.time {
  margin-top: 75px;
  /* background-color: #26d0c9; */
  background: linear-gradient(125deg, #26d0c9 0%, #26d0a0 51%, #26d083 85%);
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0.1px;
  padding-bottom: 10px;
}

.time li {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contents {
  height: 400px;
  margin-top: 75px;
  float: left;
  /* white-space: nowrap; */
  /* background-color: #26d0c9; */
  background: linear-gradient(125deg, #26d0c9 0%, #26d0a0 51%, #26d083 85%);
  margin-bottom: 100px;
  padding-bottom: 40px;
  border-radius: 15px;
  padding-left: 20px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
  color: darkorange;
  padding-left: -10px;
}

.contents-item {
  float: left;
  margin-left: 10px;
  margin-right: 135px;
  /* display: inline-block;
  margin-right: 100px; */
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
}

.contents-item img {
  /* max-width: 200px; */
  height: 200px;
  /* overflow: hidden; */
  /* background-size: 20px */
  /* height: 20px
  width: 20px */
  /* max-width: 50%
  max-height: 50% */
}

.calendar {
  padding-top: 0px
}

.calendar iframe {
}

.google-form {
  background: linear-gradient(125deg, #26d0c9 0%, #26d0a0 51%, #26d083 85%);
  margin-top: 100px;
  padding-top: 20px;
}

.contact-form {
  padding-top: 5px;
  clear: both;
  /* background-color: #26d0c9; */
  background: linear-gradient(125deg, #26d0c9 0%, #26d0a0 51%, #26d083 85%);
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  /* padding-top: 0.1px; */
  padding-bottom: 10px;
  margin-top: 50px;
}

/* inputとtextareaのCSSを指定してください */
input, textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
  border-radius: 15px;
}

/* contact-submitのCSSを指定してください */
.contact-submit {
  background-color: #2195d9;
  color: #fafeff;
  border-radius: 15px;
}

.footer-image {
  background-image: url("SocieTeaLookUp.png");
  background-size: contain;
  width: 1318px;
  height: 300px;
  background-repeat: no-repeat;
  margin-top: 75px;
  margin-bottom: 20px;
  /*border: 2px solid; */
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.instagram {
  padding: 15px;
  font-size: 0px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.instagram img {
  width: 100%;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}
